
.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 50px;
}

h2 {
    text-align: center;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
}

button {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
